body {
  background-image: url("../img/anasayfaarkaplan.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #1f456b;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.navbar a {
  margin: 0 40px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.container {
  background-color: rgb(238, 238, 238);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 200px auto;
  max-width: 500px;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.navbar {
  border: 10px solid rgb(18, 20, 53);
  border-radius: 5px;
  padding: 40px;
}
a {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
